{% extends "base_generic.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h1>Home Page!</h1>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-12">
                <h3>Status</h3>
                <p>This is the beginning of a Pokecard based website.</p>
            </div>
        </div>
    </div>
{% endblock %}
